h1 {
    font-family: Impact, Charcoal, sans-serif;
}

.bg-modal{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.content-modal{
    width: 500px;
    height: 300px;
    background-color: white;
    text-align: center;
    padding: 20px;
    border-radius: 4px;
    position: relative;
    display: none;
}

.close{
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 41px;
    transform: rotate(45deg);
    cursor: pointer;
}

input{
    width: 50%;
    display: block;
    margin: 10px auto;
}