{% extends "base.html" %}

{% block body %}

<div class="sidenav">
  <div class="w3-bar w3-white w3-padding w3-card" style="letter-spacing:4px;">
    <a href="/" class="sidebar w3-button">CampComm</a>
    <a href="comm.html" class="sidebar w3-button">Community Post</a>
    <a href="#about" class="sidebar w3-button">Surveys</a>
    <a href="#contact" class="sidebar w3-button">Reports</a>
    <a href="#menu" class="sidebar w3-button">Updates</a>
    <a href="#menu" class="sidebar w3-button">News</a>
  </div>
</div>

<div class="inputBox">
  <input type="text" placeholder="Enter Post here">
</div>


{% endblock %}
