{% extends "base.html" %}

{% block body %}
<h1> Welcome to CampComm </h1>
What language would you want to continue with?

<hr/>


<!--Pop Up-->

<a href="#" id="button">Click</a>
<button id="register">Register</button>

<div class="bg-modal report">
    <div class="close">+</div>
    <div class="content-modal">
        <form>
            <input type="text" placeholder="Report here">
            <input type="submit" value="Submit">
        </form>
    </div>
    <div class="content-modal">
        <form>
            <input type="text" placeholder="Camp Name">
            <input type="email" placeholder="contactemail@gmail.com">
            <input type="tel" placeholder="+1-******">
            <input type="password">
            <input type="submit" value="Submit">
        </form>
    </div>
    
</div>



{% endblock %}